:root {
  --barchart-width: 980px;
  --barchart-container-width: 1468px;
  --barchart-padding-left: 510px;
  --block-width: 363px;
  --title-box-width: 363px;
  --background: #ffffff;
  --blue: #18376D;
  --first-left: 25px;
  --first-left-inner: 31px;
  --first-right: 213px;
  --second-left: 410px;
  --second-left-inner: 417px;
  --second-right: 605px;
}

#pf1 {
  transform-origin: 0 0;
  transform: scale(1.5);
  position: absolute;
  left: 100px;
  top: 0px;
}
#pf2 {
  transform-origin: 0 0;
  transform: scale(1.5);
  position: absolute;
  left: 100px;
  top: 1000px;
}
#pf3 {
  transform-origin: 0 0;
  transform: scale(1.5);
  position: absolute;
  left: 100px;
  top: 2000px;
}
#pf4 {
  transform-origin: 0 0;
  transform: scale(1.5);
  position: absolute;
  left: 100px;
  top: 3000px;
}

.x0 {
  z-index: -1;
}

.trademark {
  position: absolute;
  left: 230px;
  top: 585px;
}

#PieChart0Container {
  position: absolute;
  left: var(--first-left);
  top: 340px;
  width: 1200px;
  height: 500px;
  background-color: white;
  transform-origin: 0 0;
  transform: scale(0.25);
}

#PieChart0 {
  width: 1000px;
  height: 500px;
}

#PieChart1Container {
  position: absolute;
  left: 15px;
  top: 492px;
  transform-origin: 0 0;
  transform: scale(0.2);
  width: 880px;
  height: 600px;
  background-color: white;
}

#PieChart1 {
  width: 960px;
  height: 480px;
}

#PieChart2Container {
  position: absolute;
  left: 201px;
  top: 492px;
  transform-origin: 0 0;
  transform: scale(0.2);
  width: 880px;
  height: 600px;
  background-color: white;
}

#PieChart2 {
  width: 960px;
  height: 480px;
}

#Speedometer0Container {
  position: absolute;
  left: var(--second-left);
  top: 430px;
  transform-origin: 0 0;
  transform: scale(0.25);
  background-color: white;
  width: 1020px;
  height: 585px;
}

#Speedometer0 {
  width: 700px;
  height: 500px;
  padding-top: 60px;
}

#Speedometer1Container {
  position: absolute;
  left: var(--first-left);
  top: 115px;
  transform-origin: 0 0;
  transform: scale(0.25);
  background-color: white;
  width: 790px;
  height: 700px;
  z-index: 10;
}

#Speedometer1 {
  width: 600px;
  height: 500px;
  padding-left: 0px;
  padding-top: 150px;
}

#Speedometer2Container {
  position: absolute;
  left: var(--first-right);
  top: 115px;
  transform-origin: 0 0;
  transform: scale(0.25);
  background-color: white;
  width: 700px;
  height: 700px;
  z-index: 10;
}

#Speedometer2 {
  width: 600px;
  height: 500px;
  padding-left: 0px;
  padding-top: 150px;
}

#Speedometer3Container {
  position: absolute;
  left: var(--first-left);
  top: 260px;
  transform-origin: 0 0;
  transform: scale(0.25);
  background-color: white;
  width: 1440px;
  height: 750px;
  z-index: 10;
}

#Speedometer3 {
  width: 700px;
  height: 500px;
  padding-top: 120px;
}

#Speedometer4Container {
  position: absolute;
  left: var(--first-left);
  top: 443px;
  transform-origin: 0 0;
  transform: scale(0.25);
  background-color: white;
  width: 1440px;
  height: 500px;
}

#Speedometer4 {
  width: 700px;
  height: 600px;
  padding-top: 80px;
}

#Speedometer5Container {
  position: absolute;
  left: var(--second-left);
  top: 55px;
  transform-origin: 0 0;
  transform: scale(0.25);
  background-color: white;
  width: 1440px;
  height: 700px;
  z-index: 10;
}

#Speedometer5 {
  width: 700px;
  height: 500px;
  padding-top: 60px;
}

#BarChart0Container {
  position: absolute;
  left: var(--second-left);
  top: 240px;
  transform-origin: 0 0;
  transform: scale(0.25);
  background-color: white;
  width: var(--barchart-container-width);
  height: 500px;
  z-index: 10;
}

#BarChart0 {
  width: var(--barchart-width);
  height: 400px;
  padding-left: var(--barchart-padding-left);
  padding-top: 100px;
}

#BarChart1Container {
  position: absolute;
  left: var(--second-left);
  top: 370px;
  transform-origin: 0 0;
  transform: scale(0.25);
  background-color: white;
  width: var(--barchart-container-width);
  height: 500px;
  z-index: 10;
}

#BarChart1 {
  width: var(--barchart-width);
  height: 500px;
  padding-left: var(--barchart-padding-left);
  padding-top: 100px;
}

#BarChart2Container {
  position: absolute;
  left: var(--second-left);
  top: 488px;
  transform-origin: 0 0;
  transform: scale(0.25);
  background-color: white;
  width: var(--barchart-container-width);
  height: 600px;
  z-index: 10;
}

#BarChart2 {
  width: var(--barchart-width);
  height: 500px;
  padding-left: var(--barchart-padding-left);
  padding-top: 110px;
}

#RadarChart0Container {
  position: absolute;
  left: 22px;
  top: 152px;
  transform-origin: 0 0;
  transform: scale(0.25);
  background-color: white;
  width: 1453px;
  height: 1740px;
  z-index: 100;
}

#RadarChart0 {
  width: 1440px;
  height: 1350px;
  padding-top: 160px;
  background-color: white;
}

#Speedometer6Container {
  position: absolute;
  left: var(--second-left);
  top: 130px;
  transform-origin: 0 0;
  transform: scale(0.25);
  background-color: white;
  width: 740px;
  height: 600px;
}

#Speedometer6 {
  width: 700px;
  height: 500px;
  padding-top: 10px;
}

#Speedometer7Container {
  position: absolute;
  left: 595px;
  top: 130px;
  transform-origin: 0 0;
  transform: scale(0.25);
  background-color: white;
  width: 700px;
  height: 600px;
}

#Speedometer7 {
  width: 700px;
  height: 500px;
  padding-top: 10px;
}

#BarChart3Container {
  position: absolute;
  left: var(--second-left);
  top: 402px;
  transform-origin: 0 0;
  transform: scale(0.25);
  background-color: white;
  width: var(--barchart-container-width);
  height: 1000px;
}

#BarChart3 {
  width: var(--barchart-width);
  height: 1100px;
  padding-left: var(--barchart-padding-left);
  padding-top: 110px;
}

#BarChart4Container {
  position: absolute;
  left: var(--first-left);
  top: 56px;
  transform-origin: 0 0;
  transform: scale(0.25);
  background-color: white;
  width: var(--barchart-container-width);
  height: 600px;
  z-index: 10;
}

#BarChart4 {
  width: var(--barchart-width);
  height: 500px;
  padding-left: var(--barchart-padding-left);
  padding-top: 115px;
}

#BarChart5Container {
  position: absolute;
  left: var(--first-left);
  top: 230px;
  transform-origin: 0 0;
  transform: scale(0.25);
  background-color: white;
  width: var(--barchart-container-width);
  height: 600px;
  z-index: 5;
}

#BarChart5 {
  width: var(--barchart-width);
  height: 300px;
  padding-left: var(--barchart-padding-left);
  padding-top: 90px;
}

#BarChart6Container {
  position: absolute;
  left: 23.3px;
  top: 375px;
  transform-origin: 0 0;
  transform: scale(0.25);
  background-color: white;
  width: var(--barchart-container-width);
  height: 670px;
  z-index: 10;
}

#BarChart6 {
  width: var(--barchart-width);
  height: 500px;
  padding-left: var(--barchart-padding-left);
  padding-top: 40px;
}

#RadarChart1Container {
  position: absolute;
  left: var(--second-left);
  top: 180px;
  transform-origin: 0 0;
  transform: scale(0.25);
  background-color: white;
  width: 1440px;
  height: 1250px;
}

#RadarChart1 {
  width: 1200px;
  height: 1200px;
  padding-left: 130px;
  /* padding-top: 220px; */
}

#PieChart0ExtraContainer0 {
  position: absolute;
  left: 107px;
  top: 270px;
  width: 279px;
  height: 50px;
  background-color: white;
  z-index: 10;
}

#PieChart0ExtraContainer1 {
  position: absolute;
  left: 25px;
  top: 272px;
  width: 359px;
  height: 50px;
  background-color: white;
  z-index: 10;
}

#PieChart0ExtraContainer2 {
  position: absolute;
  left: 259px;
  top: 342px;
  width: 120px;
  height: 50px;
  background-color: white;
  z-index: 10;
}

#PieChart0ExtraContainer3 {
  position: absolute;
  left: 39px;
  top: 16px;
  width: 350px;
  z-index: 10;
}

#PieChart0ExtraContainer4 {
  position: absolute;
    left: 27px;
    top: 58px;
    width: 350px;
    z-index: 10;
  background-color: var(--blue);
}

#Speedometer0ExtraContainer0 {
  position: absolute;
  left: 565px;
  top: 430px;
  width: 80px;
  height: 70px;
  visibility: hidden;
}

#Speedometer0ExtraContainer1 {
  position: absolute;
  left: 770px;
  top: 30px;
  width: 80px;
  height: 70px;
  background-color: white;
}

#Speedometer0ExtraContainer2 {
  position: absolute;
  left: 407px;
  top: 30px;
  width: var(--title-box-width);
  height: 302px;
  background-color: rgb(245, 239, 228)
}

#Speedometer0ExtraContainer3 {
  position: absolute;
  left: var(--second-right);
  top: 430px;
  width: 169px;
  background-color: white;
  z-index: 10;
}

/* #Speedometer0ExtraContainer4 {
  position: absolute;
  left: 505px;
  top: 368px;
  width: 169px;
} */

#Speedometer0ExtraContainer4 {
  position: absolute;
  left: 225px;
  top: 5px;
  width: 169px;
  height: 34px;
  background-color: var(--background);
}

#Speedometer0ExtraContainer5 {
  position: absolute;
  left: var(--second-left);
  top: 2px;
  width: 363px;
  background-color: var( --background);
  z-index: 10;
}

#Speedometer0ExtraContainer6 {
  position: absolute;
  left: var(--second-left);
  top: 403px;
  width: 363px;
  background-color: var( --background);
  z-index: 10;
}

#Speedometer0ExtraContainer7 {
  position: absolute;
  left: 400px;
  top: 25px;
  width: 363px;
  background-color: var( --background);
  z-index: 1;
  height: 330px;
}

#Speedometer1ExtraContainer0 {
  position: absolute;
  left: 178px;
  top: 190px;
  width: 80px;
  height: 70px;
  visibility: hidden;
}

#Speedometer1ExtraContainer1 {
  position: absolute;
  left: var(--first-left);
  top: 120px;
  width: 150px;
  height: 50px;
  z-index: 100;
}

#Speedometer1ExtraContainer2 {
  position: absolute;
  left: var(--first-left);
  top: 55px;
  width: var(--block-width);
  z-index: 100;
  background-color: var(--background);
}

#Speedometer1ExtraContainer3 {
  position: absolute;
  left: var(--first-left);
  top: 90px;
  width: var(--block-width);
  z-index: 100;
  background-color: var(--background);
}

#Speedometer2ExtraContainer0 {
  position: absolute;
  left: var(--first-right);
  top: 120px;
  width: 150px;
  height: 50px;
  z-index: 100;
}

#Speedometer3ExtraContainer0 {
  position: absolute;
  left: 295px;
  top: 420px;
  width: 80px;
  height: 70px;
  visibility: hidden;
}

#Speedometer3ExtraContainer1 {
  position: absolute;
  left: var(--first-right);
  top: 290px;
  width: 160px;
  height: 150px;
  background-color: white;
  z-index: 10;
}

#Speedometer3ExtraContainer2 {
  position: absolute;
  left: var(--first-left);
  top: 260px;
  width: 345px;
  z-index: 100;
}

#Speedometer4ExtraContainer0 {
  position: absolute;
  left: 577px;
  top: 65px;
  width: 80px;
  height: 70px;
  visibility: hidden;
}

#Speedometer4ExtraContainer1 {
  position: absolute;
  left: 411px;
  top: 57px;
  width: 190px;
  height: 3px;
  background-color: rgb(245, 239, 228);
}

#Speedometer4ExtraContainer2 {
  position: absolute;
  left: var(--first-right);
  top: 460px;
  width: 160px;
  background-color: white;
  z-index: 10;
}

#Speedometer4ExtraContainer3 {
  position: absolute;
    left: var(--first-left);
    top: 436.5px;
    width: 345px;
    z-index: 100;
}

#Speedometer5ExtraContainer0 {
  position: absolute;
  left: 560px;
  top: 250px;
  width: 80px;
  height: 70px;
  visibility: hidden;
}

#Speedometer5ExtraContainer1 {
  position: absolute;
  left: var(--second-right);
  top: 64px;
  width: 150px;
  background-color: white;
  z-index: 10;
}

#Speedometer5ExtraContainer2 {
  position: absolute;
  left: var(--second-left);
  top: 39px;
  width: var(--title-box-width);
  z-index: 10;
}

#BarChart0ExtraContainer0 {
  position: absolute;
  left: 425px;
  top: 562px;
  width: 80px;
  height: 70px;
  visibility: hidden;
}

#BarChart0ExtraContainer1 {
  position: absolute;
  left: var(--second-left-inner);
  top: 245px;
  width: 150px;
  z-index: 10;
  background-color: white;
}

#BarChart0ExtraContainer2 {
  position: absolute;
  left: var(--second-left);
  top: 195px;
  width: 450px;
  z-index: 100;
}

#BarChart0ExtraContainer3 {
  position: absolute;
  left: var(--second-left);
  top: 220px;
  width: var(--title-box-width);
  z-index: 100;
}

#BarChart1ExtraContainer0 {
  position: absolute;
  left: var(--first-left);
  top: 167px;
  width: 80px;
  height: 70px;
  visibility: hidden;
}

#BarChart1ExtraContainer1 {
  position: absolute;
  left: var(--second-left-inner);
  top: 380px;
  width: 150px;
  z-index: 10;
  background-color: white;
}

#BarChart1ExtraContainer2 {
  position: absolute;
  left: var(--second-left);
  top: 350px;
  width: var(--title-box-width);
  z-index: 100;
  background-color: white;
}


#BarChart2ExtraContainer0 {
  position: absolute;
  left: var(--first-left);
  top: 333px;
  width: 80px;
  height: 70px;
  visibility: hidden;
}

#BarChart2ExtraContainer1 {
  position: absolute;
  left: var(--second-left-inner);
  top: 503px;
  width: 150px;
  height: 70px;
  z-index: 10;
  background-color: white;
}

#BarChart2ExtraContainer2 {
  position: absolute;
  left: var(--second-left);
  top: 472px;
  width: var(--title-box-width);
  z-index: 100;
  background-color: white;
}

#RadarChart0ExtraContainer0 {
  position: absolute;
  left: var(--first-left);
  top: 570px;
  width: 80px;
  height: 70px;
  visibility: hidden;
}

#RadarChart0ExtraContainer1 {
  position: absolute;
  left: 27px;
  top: 80px;
  width: var(--title-box-width);
  z-index: 10;
  background-color: white;
}

#RadarChart0ExtraContainer2 {
  position: absolute;
  left: var(--first-left);
  top: 25px;
  height: 80px;
  width: 365px;
  z-index: 10;
  background-color: white;
}

#RadarChart0ExtraContainer3 {
  position: absolute;
  left: 20px;
  top: 25px;
  height: 80px;
  width: 365px;
  z-index: 10;
  background-color: white;
}

#Speedometer6ExtraContainer0 {
  position: absolute;
  left: 535px;
  top: 127px;
  width: 80px;
  height: 70px;
  visibility: hidden;
}

#Speedometer6ExtraContainer1 {
  position: absolute;
  left: 420px;
  top: 260px;
  width: 180px;
  background-color: white;
  z-index: 10;
}

#Speedometer6ExtraContainer2 {
  position: absolute;
  left: 407px;
  top: 10px;
  width: var(--title-box-width);
  height: 116px;
  background-color: white;
  z-index: 10;
}

#Speedometer6ExtraContainer3 {
  position: absolute;
  left: var(--second-left);
  top: 106px;
  width: var(--title-box-width);
  /* height: 96px; */
  background-color: white;
  z-index: 110;
}

#Speedometer7ExtraContainer0 {
  position: absolute;
  left: var(--second-right);
  top: 260px;
  width: 160px;
  background-color: white;
  z-index: 10;
}

#BarChart3ExtraContainer0 {
  position: absolute;
  left: 425px;
  top: 502px;
  width: 80px;
  height: 70px;
  visibility: hidden;
}

#BarChart3ExtraContainer1 {
  position: absolute;
  left: var(--second-left-inner);
  top: 412px;
  width: 150px;
  z-index: 10;
  background-color: white;
}

#BarChart3ExtraContainer2 {
  position: absolute;
  left: var(--second-left);
  top: 378px;
  width: var(--title-box-width);
  z-index: 10;
  height: 30px;
  background-color: white;
}

#BarChart3ExtraContainer3 {
  position: absolute;
  left: var(--second-left);
  top: 348px;
  width: var(--title-box-width);
  z-index: 10;
  background-color: white;
}

#BarChart4ExtraContainer0 {
  position: absolute;
  left: var(--first-left);
  top: 182px;
  width: 80px;
  height: 70px;
  visibility: hidden;
}

#BarChart4ExtraContainer1 {
  position: absolute;
  left: var(--first-left-inner);
  top: 60px;
  width: 150px;
  background-color: white;
  z-index: 10;
}

#BarChart4ExtraContainer2 {
  position: absolute;
    left: var(--first-left);
    top: 36px;
    width: var(--title-box-width);
    background-color: white;
    z-index: 10;
    height: 30px;
}

#BarChart4ExtraContainer3 {
  position: absolute;
    left: 10px;
    top: 26px;
    width: var(--title-box-width);
    background-color: white;
    z-index: 2;
    height: 530px;
}

#BarChart5ExtraContainer0 {
  position: absolute;
  left: var(--first-left);
  top: 362px;
  width: 80px;
  height: 70px;
  visibility: hidden;
}

#BarChart5ExtraContainer1 {
  position: absolute;
  left: var(--first-left-inner);
  top: 240px;
  width: 150px;
  background-color: white;
  z-index: 10;
}

#BarChart5ExtraContainer2 {
  position: absolute;
  left: var(--first-left);
  top: 212px;
  width: var(--title-box-width);
  background-color: white;
  z-index: 4;
  height: 100px;
}

#BarChart6ExtraContainer0 {
  position: absolute;
  left: var(--first-left);
  top: 562px;
  width: 80px;
  height: 70px;
  visibility: hidden;
}

#BarChart6ExtraContainer1 {
  position: absolute;
  left: 23px;
  top: 422px;
  width: 370px;
  height: 5px;
  background-color: white;
}

#BarChart6ExtraContainer2 {
  position: absolute;
  left: var(--first-left-inner);
  top: 374px;
  width: 147px;
  background-color: white;
  z-index: 10;
}

#BarChart6ExtraContainer3 {
  position: absolute;
  left: var(--first-left);
  top: 328px;
  width: var(--title-box-width);
  background-color: white;
  z-index: 10;
}

#RadarChart1ExtraContainer0 {
  position: absolute;
  left: 425px;
  top: 482px;
  width: 80px;
  height: 70px;
  visibility: hidden;
}

#RadarChart1ExtraContainer1 {
  position: absolute;
  left: 411px;
  top: 62px;
  width: var(--title-box-width);
  z-index: 20;
  background-color: white;
}

#RadarChart1ExtraContainer2 {
  position: absolute;
  left: var(--second-left);
  top: 25px;
  width: 350px;
  z-index: 20;
  background-color: white;
}